/* Classes de uso geral CSS */
/* Fonte personalizada */
@font-face {
  font-family: 'Dancing Script';
  src: url('../font/dancing-script/DancingScript-VariableFont_wght.ttf') format('truetype');
}

/* Definição de fontes e cores para secao Sliders */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --cor-principal:#14213D;
    --cor-secundaria:#FCA311;
    --cor-fundo:#E5E5E5;
    --cor-clara:#FFFFFF;
    --cor-escura:#000000;

    --fonte-primaria:'Poppins', sans-serif;
    --fonte-secundaria:'Josefin Sans', sans-serif;
}

.secao {
  margin-bottom: 10px;
}
/* Fim das classes de uso geral CSS */

/* Classe utilizadas na seção Nossos Projetos */
.nossos-projetos-imagem {
  width: 250px;
  height: 154px;
  /* Para centralizar as imagens */ 
  margin: 15px auto auto auto;
  display: block;
}

.nossos-projetos-titulo {
  font-family: 'Dancing Script';
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

.nossos-projetos-celulas {
  border: solid 1px rgba(255, 255, 255, 1);
}

.nossos-projetos-celulas:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.5);
}

.nossos-projetos {
  padding: 10px 0px;
}
/* Fim das classes utilizadas na seção Nossos Projetos*/

/* Início do css da seção Sliders */
.principal {
  /*height: 100vh;*/
  background-image: url("../img/img7.jpg");
  background-size: 100% 100%;
  color: var(--cor-clara);
}

@media only screen and (max-width: 1000px) {
  .container__caixa {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5em;
    font-size: 24px;
    gap: 1em;
  }
}

@media only screen and (min-width: 1000px) {
  .container__caixa {
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5em;
    font-size: 24px;
    gap: 1em;
  }
}

.caixa__titulo {
  font-size: 1.5em;
  font-family: 'Dancing Script', var(--fonte-primaria);
  font-weight: 700;
}

.caixa__paragrafo {
  font-family: var(--fonte-secundaria);
  font-style: italic;
}

.caixa__botao {
  text-decoration: none;
  color: var(--cor-clara);
  background-color: var(--cor-secundaria);
  padding: 1em 2em;
  border-radius: 16px;
  font-family: var(--fonte-secundaria);
  font-weight: 600;
}

.caixa__botao:hover {
  text-decoration: none;
  color: var(--cor-secundaria);
  background-color: var(--cor-clara);
  padding: 1em 2em;
  border-radius: 16px;
  font-family: var(--fonte-secundaria);
  font-weight: 600;
}

.secundario{
  background-image: url("../img/img8.jpg");
  background-size: 100% 100%;
  color: var(--cor-clara);
}

/* Fim do CSS da seção Sliders */

/* Início do CSS do Carroseel */
.carrossel-imagem {
  height: 90vh;
}

.carrossel-slide-1 {
  background-image: url('../img/img4.jpg');
  background-size: 100% 100%;
}

.carrossel-slide-2 {
  background-image: url('../img/img5.jpg');
  background-size: 100% 100%;
}

.carrossel-slide-3 {
  background-image: url('../img/img6.jpg');
  background-size: 100% 100%;
}

.carrossel-caixa {
  margin-left: 10%;
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 5em;
  font-size: 24px;
  gap: 1em;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.carrossel-titulo {
  color: #FFFFFF;
  font-size: 1.5em;
  font-family: 'Dancing Script', var(--fonte-primaria);
  font-weight: 700;
  margin: auto auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.carrossel-paragrafo {  
  color: #FFFFFF;
  font-family: var(--fonte-secundaria);
  font-style: italic;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
/* Fim do CSS do Carrossel */

/* Início CSS Como Trabalhamos */
.como-trabalhamos-imagem {
  width: 250px;
  height: 154px;
  /* Para centralizar as imagens */ 
  margin: 15px auto auto auto;
  display: block;
}

.como-trabalhamos-titulo {
  font-family: 'Dancing Script';
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

.como-trabalhamos-celulas {
  border: solid 1px rgba(255, 255, 255, 1);
}

.como-trabalhamos-celulas:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.5);
}

.como-trabalhamos {
  padding: 10px 0px;
}

.como-trabalhamos-texto {
  text-align: center;
  font-family: var(--fonte-secundaria);
}

@media only screen and (max-width: 600px) {

}
/* Fim CSS Como Trabalhamos*/

/* Início NavBar CSS */
.navbar-logo {
  font-family: 'Dancing Script';
  border: solid 2px;
  padding: 0px 5px;
}

.navbar-logo:hover {
  color: white!important;
  background-color: black;
}
/* Fim NavBar CSS */

/* Início CSS seção Vídeo */
.caixa_video{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* Fim CSS seção Vídeo */

/*Footer início*/
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,500&display=swap');

:root {
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}

.footer_titulo{
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

/* logo */
footer {
  width: 100%;
  color: var(--color-neutral-40);
}

/* fundo */
#footer_conteudo {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contatos h1 {
  margin-bottom: 0.75rem;
}

/* redes sociais */
#footer_redes {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_redes .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_redes .footer_link i {
  font-size: 1.25rem;
}

#footer_redes .footer_link:hover {
  opacity: 0.8;
}
/* links */
.footer_lista {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer_lista .footer_link{
  color: var(--color-neutral-30);
  transition: 0.4s;
}

.footer_lista .footer_link:hover{
  color: #7f37c9;
  text-decoration: none;
}
/* newsletter */
#footer_inscreva-se {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#footer_inscreva-se p {
  color: var(--color-neutral-40);
}
/* input newsletter */
#input_group {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-40);
  border-radius: 4px;
}

#input_group input{
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input_group button{
  background-color: #7f37c9;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}

#input_group button:hover{
 opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media screen and (max-width: 768px){
  #folder_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem
  }

}

@media screen and (max-width: 426px){
  #folder_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}
/*Footer fim*/