/* Classes de uso geral CSS */
/* Fonte personalizada */
@font-face {
  font-family: 'Dancing Script';
  src: url('../font/dancing-script/DancingScript-VariableFont_wght.ttf') format('truetype');
}

/* Definição de fontes e cores para secao Sliders */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --cor-principal:#14213D;
    --cor-secundaria:#FCA311;
    --cor-fundo:#E5E5E5;
    --cor-clara:#FFFFFF;
    --cor-escura:#000000;

    --fonte-primaria:'Poppins', sans-serif;
    --fonte-secundaria:'Josefin Sans', sans-serif;
}

.secao {
  margin-bottom: 10px;
}
/* Fim das classes de uso geral CSS */

/* Classe utilizadas na seção Nossos Projetos */
.nossos-projetos-imagem {
  width: 250px;
  height: 154px;
  /* Para centralizar as imagens */ 
  margin: 15px auto auto auto;
  display: block;
}

.nossos-projetos-titulo {
  font-family: 'Dancing Script';
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

.nossos-projetos-celulas {
  border: solid 1px rgba(255, 255, 255, 1);
}

.nossos-projetos-celulas:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.5);
}

.nossos-projetos {
  padding: 10px 0px;
}
/* Fim das classes utilizadas na seção Nossos Projetos*/

/* Início do css da seção Sliders */
.principal {
  /*height: 100vh;*/
  background-image: url("../img/img7.jpg");
  background-size: 100% 100%;
  color: var(--cor-clara);
}

.container__caixa {
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 5em;
  font-size: 24px;
  gap: 1em;
}

.caixa__titulo {
  font-size: 1.5em;
  font-family: 'Dancing Script', var(--fonte-primaria);
  font-weight: 700;
}

.caixa__paragrafo {
  font-family: var(--fonte-secundaria);
  font-style: italic;
}

.caixa__botao {
  text-decoration: none;
  color: var(--cor-clara);
  background-color: var(--cor-secundaria);
  padding: 1em 2em;
  border-radius: 16px;
  font-family: var(--fonte-secundaria);
  font-weight: 600;
}

.caixa__botao:hover {
  text-decoration: none;
  color: var(--cor-secundaria);
  background-color: var(--cor-clara);
  padding: 1em 2em;
  border-radius: 16px;
  font-family: var(--fonte-secundaria);
  font-weight: 600;
}

.secundario{
  background-image: url("../img/img8.jpg");
  background-size: 100% 100%;
  color: var(--cor-clara);
}

/* Fim do CSS da seção Sliders */

/* Início do CSS do Carroseel */
.carrossel-imagem {
  height: 90vh;
}

.carrossel-slide-1 {
  background-image: url('../img/img4.jpg');
  background-size: 100% 100%;
}

.carrossel-slide-2 {
  background-image: url('../img/img5.jpg');
  background-size: 100% 100%;
}

.carrossel-slide-3 {
  background-image: url('../img/img6.jpg');
  background-size: 100% 100%;
}

.carrossel-caixa {
  margin-left: 10%;
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 5em;
  font-size: 24px;
  gap: 1em;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.carrossel-titulo {
  color: #FFFFFF;
  font-size: 1.5em;
  font-family: 'Dancing Script', var(--fonte-primaria);
  font-weight: 700;
  margin: auto auto;
}

.carrossel-paragrafo {  
  color: #FFFFFF;
  font-family: var(--fonte-secundaria);
  font-style: italic;
}
/* Fim do CSS do Carrossel */

/* Início CSS Como Trabalhamos */
.como-trabalhamos-imagem {
  width: 250px;
  height: 154px;
  /* Para centralizar as imagens */ 
  margin: 15px auto auto auto;
  display: block;
}

.como-trabalhamos-titulo {
  font-family: 'Dancing Script';
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

.como-trabalhamos-celulas {
  border: solid 1px rgba(255, 255, 255, 1);
}

.como-trabalhamos-celulas:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.5);
}

.como-trabalhamos {
  padding: 10px 0px;
}

.como-trabalhamos-texto {
  text-align: center;
  font-family: var(--fonte-secundaria);
}
/* Fim CSS Como Trabalhamos*/

/* Início NavBar CSS*/
.navbar-logo {
  font-family: 'Dancing Script';
  border: solid 2px;
  padding: 0px 5px;
}

.navbar-logo:hover {
  color: white!important;
  background-color: black;
}
/* Fim NavBar CSS*/
/*css do video INICIO!!*/
.caixa_video{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/*css do video FIM*/